@{
    var title = ViewData["Modal-Title"] as string;
    if (title == null || title?.Length == 0)
    {
        title = "Edit";
    }
    var size = ViewData["Modal-Size"] as string;
    if (size == null || size?.Length == 0)
    {
        size = "";
    }
}
<div class="modal" id="dynamic-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title">@title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="dynamic-modal-body">

            </div>
        </div>
    </div>
</div>

<script >
    var openFormModal = function(url, title=null, size=null, hasSelectFields=false){
        $.ajax({
            type: "GET",
            url: url.toString(),
            success:function(response){
                if (title){
                    $("#modal-title").html(title)
                }
                if (size){
                    $(".modal-dialog").addClass("modal-" + size)
                    }
                $("#dynamic-modal-body").html(response);
                $("#dynamic-modal").modal("show");
                if (hasSelectFields){
                    $('.select2bs4').select2({
                          theme: 'bootstrap4'
                })
                }
            }
           })
    }
    </script>
