<nav class="mboard-navbar" navbar-theme="themelight1" active-item-theme="theme1" sub-item-theme="theme1">
    <div class="mboard-inner-navbar main-menu">
        <ul class="mboard-item mboard-left-item">
            <li class=" ">
                <th:a asp-controller="Home" asp-action="Index">
                    <span class="mboard-micon">
                        <i class="feather icon-home"></i>
                    </span>
                    <span class="mboard-mtext">Dashboard</span>
                </th:a>
            </li>
        </ul>
    </div>
</nav>
