/.idea/*
/Shopper/bin/*
/Shopper/appsettings.json
/Shopper/obj/*
/Shopper/Logs/*
/Shopper/.idea/*
/ShopperAdmin/bin/*
/ShopperAdmin/appsettings.json
/ShopperAdmin/obj/*
/ShopperAdmin/Logs/*
/ShopperAdmin/.idea/*
/Shared/bin/*
/Shared/obj/*
/Shared/.idea/*

/Shopper/wwwroot/uploads/
