@using IdentityServer4.Extensions
@model ImagesUploadModel;
@{
    var imageLabel = !Model.CurrentImageName.IsNullOrEmpty() ? "Change main photo" : "Choose main photo";
    var imageName = !Model.CurrentImageName.IsNullOrEmpty() ? Model.CurrentImageName : "Choose main photo";
}

@if (Model.CurrentImageName.IsNullOrEmpty())
{
    <div class="form-group" id="images">
        <fieldset>
            <legend>@imageLabel</legend>
            <div class="custom-file">
                <th:input asp-for="MainImage" class="custom-file-input" id="product-photo"></th:input>
                <label class="custom-file-label" for="product-photo">@imageName</label>
            </div>
        </fieldset>
    </div>
}
else
{
    <div class="form-group" id="images">
        <fieldset>
            <legend>Upload another photo</legend>
            <div class="custom-file">
                <th:input asp-for="Images" class="custom-file-input" id="product-photo"></th:input>
                <label class="custom-file-label" for="product-photo">Upload photo</label>
            </div>
        </fieldset>
    </div>
}

@{
    var totalImages = Model.ImagesCount;
}
@*
@if (totalImages > 0)
{
    <fieldset>
        <legend>Other Images</legend>
        @for (var i = 1; i <= totalImages; i++)
        {
            var id = "exampleInputFile-" + i;
            var imageNumber = 4 - (totalImages - i);
            <div class="form-group">
                $1$ <div class="input-group"> #1#
                <label for="@id">Image @imageNumber</label>
                <div class="custom-file">
                    <th:input asp-for="Images" class="custom-file-input" id=@id></th:input>
                    <label class="custom-file-label" for=@id>Choose image</label>
                </div>
                $1$ </div> #1#
            </div>
        }
    </fieldset>
}
*@

<div class="form-group col-12 text-right">
    <button type="submit" class="btn btn-primary" name="button">Submit</button>
</div>
