@using IdentityServer4.Extensions
@model Shopper.Mvc.ViewModels.ImagesUploadModel;
@{
    var imageLabel = !Model.CurrentImageName.IsNullOrEmpty() ? "Change main image" : "Choose main image";
    var imageName = !Model.CurrentImageName.IsNullOrEmpty() ? Model.CurrentImageName : "Choose main image";
}
<div class="form-group" id="images">
    <fieldset>
        <legend>@imageLabel</legend>
        <div class="custom-file">
            <th:input asp-for="MainImage" class="custom-file-input" id="exampleInputFile"></th:input>
            <label class="custom-file-label" for="exampleInputFile">@imageName</label>
        </div>
    </fieldset>
</div>
@{
    var totalImages = Model.ImagesCount;
}
@if (totalImages > 0)
{
    <fieldset>
        <legend>Other Images</legend>
        @for (var i = 1; i <= totalImages; i++)
        {
            var id = "exampleInputFile-" + i;
            var imageNumber = 4 - (totalImages - i);
            <div class="form-group">
                @* <div class="input-group"> *@
                <label for="@id">Image @imageNumber</label>
                <div class="custom-file">
                    <th:input asp-for="Images" class="custom-file-input" id=@id></th:input>
                    <label class="custom-file-label" for=@id>Choose image</label>
                </div>
                @* </div> *@
            </div>
        }
    </fieldset>
}

<div class="form-group col-12 text-right">
    <button type="submit" class="btn btn-primary" name="button">Submit</button>
</div>
