@model Product
@{
    var attributes = ViewData["Attributes"] as List<SelectListItem>;
    var categories = ViewData["Categories"] as List<SelectListItem>;
}

<div class="form-group col-12">
    <th>Product Category</th>
    <th:select class="form-control select2bs4" asp-for="ProductCategoryId" asp-items="categories">
        <option value="">-- Select Product Category --</option>
    </th:select>
    <th:span asp-validation-for="ProductCategoryId" class="text-danger"></th:span>
</div>

<div class="form-group col-12">
    <th:label asp-for="Name"></th:label>
    <th:input asp-for="Name" class="form-control"></th:input>
    <th:span asp-validation-for="Name" class="text-danger"></th:span>
</div>
<div class="form-group col-12">
    <th>Product Attributes</th>
    <th:select class="form-control select2bs4" multiple="multiple" data-placeholder="-- Select product attributes --" asp-for="Attributes" asp-items="attributes">
    </th:select>
    <th:span asp-validation-for="Attributes" class="text-danger"></th:span>
</div>

<div class="form-group">
    <th:label asp-for="ImagePath">Product Image</th:label>
    <div class="input-group">
        <div class="custom-file">
            <th:input type="file" disabled class="custom-file-input" id="exampleInputFile" asp-for="ImagePath"></th:input>
            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
        </div>
    </div>
</div>

<div class="form-group col-12 text-right">
    <button type="submit" class="btn btn-primary" name="button">Submit</button>
</div>
