@model Shared.Mvc.ViewModels.ChangePasswordModel;
@{
    Layout = "_Layout ";
}

<th:form class="md-float-material form-material" asp-controller="Account" asp-action="ChangePassword" method="post">
    <div class="text-center">
        <th:img src="~\files\assets\images\logo.png" alt="logo.png"/>
    </div>
    <div class="auth-box card">
        <div class="card-block">
            <div class="row m-b-20">
                <div class="col-md-12">
                    <h3 class="text-center">Change Password</h3>
                </div>
            </div>

            <th:partial name="_ModelValidationSummary"></th:partial>

            <br>
            <div class="form-group form-primary">
                <th:label asp-for="CurrentPassword"></th:label>
                <th:input asp-for="CurrentPassword" class="form-control" placeholder="Current Password"></th:input>
                <th:span asp-validation-for="CurrentPassword" class="text-danger"></th:span>
            </div>
            <div class="form-group form-primary">
                <th:label asp-for="NewPassword"></th:label>
                <th:input asp-for="NewPassword" class="form-control" placeholder="New Password"></th:input>
                <th:span asp-validation-for="NewPassword" class="text-danger"></th:span>
            </div>
            <div class="form-group form-primary">
                <th:label asp-for="ConfirmPassword"></th:label>
                <th:input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password"></th:input>
                <th:span asp-validation-for="ConfirmPassword" class="text-danger"></th:span>
            </div>
            <div class="row m-t-30">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Change Password</button>
                </div>
            </div>
            <hr>
        </div>
    </div>
</th:form>

@section scripts
{
    <th:partial name="_ValidationScriptsPartial"/>
}