@model Shared.Mvc.ViewModels.ForgotPasswordModel
@{
    Layout = "_Layout ";
}

<th:form class="md-float-material form-material" asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div class="text-center">
        <th:img src="~\files\assets\images\logo.png" alt="logo.png"/>
    </div>
    <div class="auth-box card">
        <div class="card-block">
            <div class="row m-b-20">
                <div class="col-md-12">
                    <h3 class="text-center">Forgot Password</h3>
                </div>
            </div>

            <th:partial name="_ModelValidationSummary"></th:partial>

            <br>
            <div class="form-group form-primary">
                <th:label asp-for="Email"></th:label>
                <th:input asp-for="Email" class="form-control" placeholder="Enter your email"></th:input>
                <th:span asp-validation-for="Email" class="text-danger"></th:span>
            </div>
            <div class="row m-t-30">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Submit</button>
                </div>
            </div>
            <hr>
        </div>
    </div>
</th:form>

@section scripts
{
    <th:partial name="_ValidationScriptsPartial"/>
}