<footer class="main-footer text-sm">
    <!-- To the right -->
    <div class="float-right hidden-xs">
        All the way!
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @DateTime.Today.Year</strong>.
</footer>
