@model UserViewModel;

<div class="form-group col-12">
    <th:input asp-for="Id" value="@Model.Id" hidden></th:input>
    <th:label asp-for="FullName"></th:label>
    <th:input asp-for="FullName" class="form-control"></th:input>
    <th:span asp-validation-for="FullName" class="text-danger"></th:span>
</div>

<div class="form-group col-12">
    <th:label asp-for="Email"></th:label>
    <th:input asp-for="Email" class="form-control" readonly="@Model.Email != null"></th:input>
    <th:span asp-validation-for="Email" class="text-danger"></th:span>
</div>

<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
