@model List<long>;

@{
    var roles = TempData["Roles"] as List<Role>;
}

<div class="row px-3">
@foreach (var role in roles)
{
    var isChecked = Model.Contains(role.Id) ? "checked" : "";
    <div class="form-group col-md-4">
        <input type="checkbox" @isChecked name="roles"
               value="@role.Id"> @role.DisplayName
    </div>
}
</div>
<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
