@model Shopper.Mvc.ViewModels.InvoiceDateModel

<div class="form-group col-12">
    <th:input asp-for="InvoiceDate" class="form-control"></th:input>
    <th:span asp-validation-for="InvoiceDate" class="text-danger"></th:span>
</div>

<div class="form-group col-12 text-right">
    <button type="submit" class="btn btn-primary" name="button">Submit</button>
</div>
