@using Shopper.Mvc.ViewModels
@using Shared.Mvc.Enums
@using Shopper.Extensions.Helpers
@using System.Collections
@using Newtonsoft.Json
@model Shopper.Mvc.ViewModels.DashboardModel
@{
    var model = Model;
    var weekChartModel = new ChartModel
    {
        Sales = model.Sales,
        ChartId = "week-sales-chart",
        SummaryType = SummaryType.Week
    };

    var todayChartModel = new ChartModel
    {
        Sales = model.Sales,
        ChartId = "today-sales-chart",
        SummaryType = SummaryType.Today
    };

    var monthChartModel = new ChartModel
    {
        Sales = model.Sales,
        ChartId = "month-sales-chart",
        SummaryType = SummaryType.Month
    };

    var annualChartModel = new ChartModel
    {
        Sales = model.Sales,
        ChartId = "annual-sales-chart",
        SummaryType = SummaryType.Year
    };
}

@section css{
    <th:script src="~/plugins/chart.js/Chart.min.js"></th:script>
    <style>
        .tab-content>.tab-pane {
            display: block;
            height: 0;
            overflow: hidden;
        }
        .tab-content>.tab-pane.active {
            height: auto;
        }
    </style>
}

<th:permission name="summary_view">
    <!-- Left col -->
    <section class="col-lg-12 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-chart-pie mr-1"></i>
                    Summary
                </h3>
                <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#today-summary" data-toggle="tab">Today</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#week-summary" data-toggle="tab">This Week</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#month-summary" data-toggle="tab">This Month</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#annual-summary" data-toggle="tab">This Year</a>
                        </li>
                    </ul>
                </div>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content p-0">
                    <!-- Morris chart - Sales -->
                    <div class="chart tab-pane active" id="today-summary">
                        <th:partial name="_Summary" model="model.Summaries.SingleOrDefault(s => s.SummaryType == SummaryType.Today)"/>
                    </div>

                    <div class="chart tab-pane" id="week-summary">
                        <th:partial name="_Summary" model="model.Summaries.SingleOrDefault(s => s.SummaryType == SummaryType.Week)"/>
                    </div>
                    <div class="chart tab-pane" id="month-summary">
                        <th:partial name="_Summary" model="model.Summaries.SingleOrDefault(s => s.SummaryType == SummaryType.Month)"/>
                    </div>
                    <div class="chart tab-pane" id="annual-summary">
                        <th:partial name="_Summary" model="model.Summaries.SingleOrDefault(s => s.SummaryType == SummaryType.Year)"/>
                    </div>
                </div>
            </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
</th:permission>
<div class="col-lg-12 chart-summary" id="today-chart">
    <th:partial name="_Chart" model="todayChartModel"/>
</div>
<div class="col-lg-12 chart-summary" id="week-chart">
    <th:partial name="_Chart" model="weekChartModel"/>
</div>
<div class="col-lg-12 chart-summary" id="month-chart">
    <th:partial name="_Chart" model="monthChartModel"/>
</div>
<div class="col-lg-12 chart-summary" id="annual-chart">
    <th:partial name="_Chart" model="annualChartModel"/>
</div>

@section scripts
{
    <th:script src="~/js/dashboard.js"></th:script>
    <th:partial name="_ChartsJs" model="@weekChartModel"/>
    <th:partial name="_ChartsJs" model="@todayChartModel"/>
    <th:partial name="_ChartsJs" model="@monthChartModel"/>
    <th:partial name="_ChartsJs" model="@annualChartModel"/>
    <script>
    $('.chart-summary').hide();
    $('#today-chart').show();
    </script>
}
