@using Shopper.Extensions.Helpers
<div class="row">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h3>@User.GetUserFullName()</h3>
        <h3>@User.GetUserEmail()</h3>
    </div>

</div>